<!DOCTYPE html>
<html>

<body>
<div>
  <ul>
    <li id="pre-li"><a [routerLink]="['/app-premium-calculator']"><b>Premium Calculator</b></a></li>
    <li id="buy-li"><a [routerLink]="['/app-buyinsurance']"><b>Buy Insurance</b></a></li>
    <li id="renew-li"><a [routerLink]="['/app-renew']"><b>Renew Insurance</b></a></li>
    <li id="claim-li"><a [routerLink]="['/app-claim']"><b>Claim Insurance</b></a></li>
    <li id="log-li"><a [routerLink]="['/app-home']"><b>Log Out</b></a></li>

   
  </ul>
</div>

<div>
<router-outlet></router-outlet>
</div>
 
</body>

</html>