<html>


<div class="row">
  <div class="leftcolumn">
    <div class="card">

      <div class="fakeimg" style="height:auto;"><img src="/assets/Motor-Insurance.jpg" height=290px></div>

      <p>The concept of two wheeler insurance in India was introduced by the Motor Vehicles Act, 1988, and all motor
        insurance products in India are regulated by the Insurance Regulatory Development Authority of India (IRDAI).
        IRDAI, after a recent directive from the Supreme Court of India, has made it mandatory for all two-wheeler
        vehicles in India to own a 5 year third-party policy, right at the time of purchasing the vehicle to be able to
        legally ply on Indian roads. Vehicles running on roads in the country without a valid insurance policy are
        liable to attract heavy penalties. Hence, every owner of a vehicle has to hold at least a mandatory third-party
        liability cover, which is the minimum coverage offered on car insurance, including two wheeler insurance.</p>
    </div>
    <div class="card">
      <h2></h2>
      <h5><b>Motor Insurance</b> </h5>
      <div class="fakeimg" style="height:auto;"><img src="/assets/car_banner.jpg" alt="image not found" height=290px>
      </div>
      <p><b>Why Insurance is Required?</b></p>
      <p>
        As per the Indian Motor Vehicles Act, 1988, all the motor vehicles plying on the Indian road must have a valid
        insurance policy. It is illegal to ride your two wheeler on Indian roads without having a third party liability
        cover. A liability cover is mandatory to ride your bike on Indian roads.
        It is important and necessary to have an insurance policy as it provides financial protection against
        unfortunate accidents that may cause damages to the insured vehicle, damages to the third party property, and
        bodily injury to the rider, pillion, or pedestrians.</p>
    </div>
  </div>
  <div class="rightcolumn">

    <div class="card">

      <div class="fakeimg" style="height:auto;">
        <p><img src="/assets/vehicle.jpg" alt="image not found" height=290px></p>
      </div>

    </div>
    <div class="card">
      <h3>Insuranse Plans</h3>
      <p> <a [routerLink]="['/app-comprehensive']">Comprehensive Insurance</a><br />
        <a [routerLink]="['/app-third-party']">Third Party Insurance </a>
      </p>
    </div>
  </div>
</div>

<div class="footer">
  <h6><a id="about" [routerLink]="['/about-us']">About Us</a>Insurance is the subject matter of solicitation.
    Fusion Insurance Co. Ltd. All Rights Reserved. | IRDA Reg. No. 113 | An ISO 27001:2013 Certified Company | Tollfree:
    1800-209-0144 | 1800-209-5858
    BAGIC CIN - U66010PN2000PLC015329 | Fusion Insurance House, Mahape, Mumbai-411006
    Disclaimer: Images used on this website and the models photographed in them are for representative purposes only and
    are not indicative of anyone's personal thoughts or ideas. This site is best viewed with Firefox 3.0+, Chrome 3.0+,
    Safari 4.0+ with a resolution of 1024x768</h6>
</div>