<h1 id="heading">What Is Comprehensive Insurance?</h1>


<p>Comprehensive insurance is a coverage that helps pay to replace or repair your vehicle if it's stolen or
    damaged in an incident that's not a collision. Comprehensive typically covers damage from fire, vandalism or
    ng objects (like a tree or hail). If you're financing or leasing your car, your lender likely requires
    comprehensive coverage. If you own your vehicle outright, it's an optional coverage on your car insurance
    policy.</p>
<h1>WHAT IS COVERED BY COMPREHENSIVE INSURANCE?</h1>

<ul type=square>Comprehensive helps cover damage to your car that's not the result of a collision, such as:
    <li>Theft</li>
    <li>Vandalism</li>
    <li>Fire</li>
    <li>Natural disasters (like a hurricane or a tornado)</li>
    <li>Falling objects</li>
    <li>Damage done to your car by animals</li>
    <li>A civil disturbance (like a riot that results in damage or destruction of your car)</li>
</ul>
<img src="https://www.allstate.com/resources/Allstate/images/tools-and-resources/car/what-does-comprehensive-cover767x588.jpg?v=f21a8cf2-8d7f-b429-0d9c-4b09f0822c3c"
    alt="not found">
<ul type=square> WHATs NOT COVERED
    <li>Damage to your car from a collision</li>
    <li>Damage to another person's vehicle from a collision</li>
    <li>Your (or your passengers') medical expenses after an accident</li>
</ul>


   <h4>COMPREHENSIVE COVERAGE DEDUCTIBLES AND LIMITS</h4>
    When you purchase comprehensive coverage, you will select a set deductible, which is the amount you pay
    out of pocket toward a covered claim. Let's say you choose a $500 deductible, and your car is later damaged
    by hail in a covered claim. If it costs $1,500 to repair your car, you would pay your $500 deductible, and
    your insurance would pay the remaining $1,000.

<p> Comprehensive coverage has a limit, or the maximum amount your policy will pay toward a covered claim.
    The limit on comprehensive coverage is typically the actual cash value of your vehicle.
    If your car is stolen, for example, your policy would reimburse you for your car's depreciated value.
    In other words, if you wanted to replace your stolen vehicle with a newer make and model, you would
    likely have to use some of your own money to do so, in addition to using the reimbursement from your
    insurer.
</p>

<h2>WHAT IS THE DIFFERENCE BETWEEN COLLISION AND COMPREHENSIVE INSURANCE?</h2>
Collision coverage helps pay to repair your car if it's damaged in a collision.

<ul type="disk">Comprehensive is a separate coverage from collision and covers different types of losses.

    <li>Comprehensive Insurance vs. Collision Insurance</li>
    <li>Feature Comprehensive Coverage Collision Coverage</li>
</ul>
<h4>What's Covered</h4>
<ul type="square">Non-collision damage to your vehicle, such as:

    <li>Theft</li>
    <li>Falling objects</li>
    <li>Fire</li>
    <li>Natural disasters</li>
    <li>Animal damage</li>
    <li>Damage to your vehicle from:</li>
</ul>

<ul type=square>
<li>Collision with another vehicle</li>
<li>Collision with an object, such as a fence</li>
<li>Single-car rollover accidents</li>
<li>Deductible</li>

Coverage Limit
Actual cash value

Actual cash value

Required or Optional?
Required if leasing or financing vehicle. Otherwise optional.

Required if leasing or financing vehicle. Otherwise optional.

<h2>What's Not Covered</h2>
<p>Damage to another person's vehicle
    Medical bills (yours, your passengers', other drivers', other passengers')
    Damage to another person's vehicle
    Medical bills (yours, your passengers', other drivers', other passengers')
    WHY BUY COMPREHENSIVE COVERAGE?
    If you're wondering whether you should buy comprehensive coverage, here are a few considerations:
</p>

Comprehensive coverage may be required by your car's lender.If you're leasing or financing your vehicle,
your lender may require you to have comprehensive and collision, coverage until the vehicle is paid off.

<h3>How old is your car and what is it worth?</h3>
<p>If you have paid off your car, comprehensive coverage is optional. It may be a good idea to find out the Kelley Blue
    Book value of your vehicle. Would you be able to pay that amount to repair or replace your vehicle if it were stolen
    or damaged in an accident? If you can't afford to pay much out of pocket, then buying optional coverages, like
    comprehensive coverage and collision coverage, may be a smart investment.
</p>

<h3>How much are the annual premiums for comprehensive and collision coverage?</h3>
<p>The Insurance Information Institute suggests that you take the amount you'd pay in one year for comprehensive and
    collision coverage, and multiply that number by 10. Is your car worth less than that number? Then comprehensive and
    collision coverage might not be a cost-effective option for you. In other words, you might want to talk to your
    agent about whether it makes sense to include these coverages on your car insurance policy.
</p>