 <div id ="ali">
    <form #pform="ngForm" class="form-horizontal" ngNativeValidate (ngSubmit)="userRegistration()">
    <div class="register-container">
        <h2><b>Registration</b></h2>
        <hr>
        <div class="registration-fields">

            <b>User Name:</b><input type="text" [(ngModel)]="registration.userName" name="userName" placeholder="user-name"
                pattern="[a-zA-Z ]*" autofocus required>

            <br />

            <b>First Name :</b> <input type="text" [(ngModel)]="registration.firstName" name="firstName"
                placeholder="First Name" pattern="[a-zA-Z ]*" required>
            <br />

            <b>Last Name :</b> <input type="text" [(ngModel)]="registration.lastName" name="lastName" placeholder="Last Name"
                pattern="[a-zA-Z ]*" required>
            <br />

            <b>Gender :</b> <input type="radio" [(ngModel)]="registration.gender" name="role" value="Male"><b> Male</b> <br>
            <input type="radio" [(ngModel)]="registration.gender" name="role" value="Female"> <b>Female</b>
            <br/>

           <b> Mobile :</b> <input type="text" [(ngModel)]="registration.mobile" name="mobile" placeholder="Mobile Number"
                minlength=10 maxlength=10 (keypress)="keyPress($event)" required>
            <br />

            <B>E-mail Id :</B> <input type="text" [(ngModel)]="registration.emailId" name="emailId" placeholder="Email Id"
                autofocus required>
            <br />

            <div class="form-group">
                <b>Password :</b> <input type="password" [(ngModel)]="registration.password" name="password"
                    placeholder="Password" required>
                <br />
            </div>

            <div class="form-group">
                <b>Confirm Password :</b> <input type="password" [(ngModel)]="registration.confirmPassword"
                    name="confirmPassword" placeholder="Confirm Password" required>
                <br />
            </div>
            <p>{{array['password']}}</p>

            <b>Address :</b> <input type="text" [(ngModel)]="registration.address" name="address" placeholder="Address"
                autofocus required>
            <br />

           <b> City :</b> <input type="text" [(ngModel)]="registration.city" name="city" placeholder="City" autofocus required>
            <br />

            <b>State :</b> <input type="text" [(ngModel)]="registration.state" name="state" placeholder="State" required>
            <br />

            <input type="hidden" [(ngModel)]="registration.role" name="role" value="0">

            <input type="submit" [routerLink]="['/app-successful']" value="Register" />


        </div>
    </div>
</form> 
</div> 

