<h2>Engine Capacity</h2>
<table id="twowheeler">
  <tr>
    <th>Engine Capacity</th>
    <th>Premiums Payable</th>

  </tr>
  <tr>
    <td>Up to 75 cc</td>
    <td> Rs.569</td>

  </tr>
  <tr>
    <td>75-150 cc</td>
    <td>Rs.720	</td>

  </tr>
  <tr>
    <td>150-350 cc</td>
    <td>Rs.970	</td>

  </tr>
  <tr>
        <td>350 cc and above</td>
        <td>Rs.1,114</td>
    
      </tr>
</table>

<h2>Insured Declared Value</h2>

<table id="twowheeler">
  <tr>
    <th>Age of the bike</th>
    <th>Insured Declared Value</th>
 </tr>
  <tr>
    <td>1 Year to 2 Years</td>
    <td> 80% of ex-showroom value </td>

  </tr>
  <tr>
    <td>2 Years to 3 Years</td>
    <td> 70% of ex-showroom value</td>

  </tr>
  <tr>
    <td>3 Years to 4 Years</td>
    <td> 60% of ex-showroom value</td>

  </tr>
  <tr>
  <td>4 Years to 5 Years</td>
  <td>50% of ex-showroom value</td>

  </tr>
</table>
<div id ="button"><button class="button" type="submit"[routerLink]="['/app-buyinsurance']" value="Submit">Buy Insurance</button>
</div>